* {
  margin: 0px;
}
.container {
  margin: 30px 90px;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
}

span {
  color: orange;
}
h3 {
  margin-top: 30px;
}
p {
  width: 75%;
  margin-top: 20px;
  margin-bottom: 40px;
}
button {
  background-color: coral;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
  font-weight: bolder;
}
img {
  height: 550px;
  width: 550px;
  display: inline;
  margin-right: 40px;
  margin-top: 30px;
}
section {
  display: flex;
}
a {
  background-image: linear-gradient(orange, tomato);
  padding: 6px 30px;
  text-decoration: none;
  border-radius: 7px;
  color: white;
  font-size: 22px;
}
.top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.middle-banner {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 150px;
}
.expo {
  display: flex;
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
}
.experience {
  background-color: rgb(255, 255, 255);
  padding-top: 40px;
  padding-left: 40px;
  box-shadow: 10px 10px 20px rgb(131, 130, 130);
  border-radius: 5px;
}
.experience h2 span {
  font-size: 36px;
}

.head {
  text-align: center;
  font-size: 40px;
}
#devel {
  border-image: linear-gradient(120deg, rgb(0, 255, 242), rgb(195, 0, 255)) 1;
  border-image-slice: 1;
  border-left: 7px solid;
  border-radius: 5px;
}
#developer {
  border-left: 7px solid;
  border-image: linear-gradient(50deg, rgb(0, 255, 242), rgb(195, 0, 255)) 1;
}
footer {
  text-align: center;
  font-size: small;
  margin-top: 50px;
  margin-bottom: 10px;
}
